body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1{

    font-size:50 px ;
}
h2{

    font-size: 40px;
}
p{
    color: dimgray;
}
.orange-highlight{
    color: orange;
}
.half-width{

    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("imges/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    margin-top: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight:700;
}
.link-button:hover{
    color: rgb(67, 26, 163);
}
.dream-area{
    background-image: url("imges/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.experience-single{

    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    background-color: white;
}
.experience-area{

    background-image: url("imges/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 5px solid;
    border-image: linear-gradient( 180deg, lightSalmon,tomato);
    border-image-slice: 1;

}
#baby-web{
    border-left: 5px solid;
    border-image: linear-gradient( 180deg,blue,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 10px;
}